<h2 style="max-width: 400px; margin: auto; padding: 1em;">Reset Password</h2 >

<nav style="max-width: 400px; margin: auto; padding: 1em;">
        <a href="/my_tasks">🗂️ My Tasks</a>
        <a href="/reset_password">🔁 Reset Password</a> |
        <a href="/assign_tasks">📋 Assign Tasks</a> |
        <a href="/confirm_tasks">✅ Confirm Tasks</a>
    </nav>

<form method="post" action="/reset_password" style="max-width: 400px; margin: auto; padding: 1em;">
    <div style="margin-bottom: 1em; text-align: left;">
        <label for="old_password">Old Password:</label><br>
        <input type="password" name="old_password" required style="width: 100%;">
    </div>

    <div style="margin-bottom: 1em; text-align: left;">
        <label for="new_password">New Password:</label><br>
        <input type="password" name="new_password" required style="width: 100%;">
    </div>

    <div style="margin-bottom: 1em; text-align: left;">
        <label for="confirm_password">Confirm New Password:</label><br>
        <input type="password" name="confirm_password" required style="width: 100%;">
    </div>

    <div style="text-align: left;">
        <button type="submit">Reset Password</button>
    </div>
</form>


{% if message %}
<p style="text-align: center;">{{ message }}</p>
{% endif %}
